/* import */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Lobster&family=Press+Start+2P&family=Rokkitt:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Lobster&family=Press+Start+2P&family=Rokkitt:wght@100;300;400;500;600;700;800;900&display=swap');

/* CSS variables */
:root {
  --main-color: #343090;
  --second-color: #5f59f7;
  --third-color: #6592fd;
  --four-color: #44c2fd4d;
  --five-color: #8c61ff;
  --white-color: #fff;
  --black-color: #000;
  --light-grey: #c2c2ff;
  --font-title: 'Josefin Sans', sans-serif;
  --font-text: 'Barlow', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-text);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.titlePage {
  margin-top: 0;
  font-family: var(--font-title);
  font-size: 2.5rem;
  color: var(--second-color);
}

p {
  font-family: var(--font-text);
  font-size: 1.2rem;
  text-align: justify;
}
